@model serialservice

@using BEMAttendance.Models.Params
@using BEMAttendance.Models
<form class="form-horizontal" method="post" action="/serialport/create">
    <fieldset>
        <legend>串口服务器新增</legend>
        @if ((VisitorRole)ViewData["VisitorRole"] == VisitorRole.Admin || (VisitorRole)ViewData["VisitorRole"] == VisitorRole.SubAdmin)
        {
            <text>
                <script type="text/javascript">
               $('#loginlink').attr('href', '/loginUI/logout');
               $('#loginlink').text('注销');
               $('#loginname').text('@ViewData["username"]');
                </script>
            </text>
            if ((VisitorRole)ViewData["VisitorRole"] == VisitorRole.Admin)
            {
                <text>
                    <script type="text/javascript">
                        $('#adminAdd').removeClass("hide");
                        $('#packUpdate').removeClass("hide");
                    </script>
                </text>
            }
        }
        else
        {
            <script type="text/javascript">
                  $('#loginlink').attr('href', '/loginUI/logout');
                  $('#loginlink').text('注销');
                  $('#loginname').text('@ViewData["username"]');
                  $('#passwdLink').addClass("hide");
                  $('#adminAdd').addClass("hide");
                  $('#packUpdate').addClass("hide");
            </script>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.ValidationMessage("Title", new { @class = "text-danger" })
            @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.portcount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.portcount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.portcount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-primary" type="submit">保存</button>
            </div>
        </div>
    </fieldset>
</form>


