@model List<DeviceInfo>
@using BEMAttendance.Models.Params
@using BEMAttendance.Models
@{
    ViewBag.Title = "设备列表";
}
<script type="text/javascript">
    $(document).ready(function () {

        setInterval("RefreshStatus()", 5000);
    });
    function RefreshStatus()
    {
        var trList = $("#tbDevice").children("tr");
        for(var i=0;i<trList.length;i++)
        {
            var tdArr = trList.eq(i).find("td");  //获取所在行的列节点
            var devCode = tdArr.eq(0).text();    //获取设备编号
       
            $.ajax(
                {
                    url: "/Device/GetDeviceStatus",
                    type: "Get",
                    async: false,
                    data: { slaveid:devCode},
                    success: function (strvalue) {
                        if (strvalue != "null") {
                            var strs = new Array();
                            strs = strvalue.split(':');
                            if (strs.length > 0) {
                                if (strs[0] != "OK") {
                                    return;
                                }
                                var status = strs[1];
                                var id = "#" + devCode;
                                if (status == "0")  //停止
                                {
                                    $(id).html(" <span class='label label-danger control- label'>&nbsp;&nbsp;停止 &nbsp;&nbsp; </span>");
                                }
                                else if (status == "1") //在线
                                {
                                    $(id).html(" <span class='label label-success control- label'>&nbsp;&nbsp;运行中 &nbsp;&nbsp; </span>");
                                }
                                else if (status == "2") {
                                    $(id).html("<span class='label label-warning control-label'>&nbsp;&nbsp;通讯异常 &nbsp;&nbsp; </span>");
                                }

                            }

                        }
                    }
                });
           
        }

    }
    //隐藏某项
    function hideModal(obj)
    {
        $(obj).modal('hide');
    }

    function removeitem()
    {
        var devcode = $('#devcode').val();
        $.ajax({
            type: "Get",
            url: "/Device/Delete?id=" + devcode,
            success: function () {
                $('#packtpub').modal('hide');
                window.location.reload();
            }
        });
    }
    function showAlert(obj)
    {
        $('#devcode').val(obj);
        $('#packtpub').modal('show');
    }
    function doBulkWork() {
        window.location.href = "/Device/ExportDevices?searchkey=" + $('#searchkey').val();
    }
</script>
<div id="packtpub" class="modal fade">
    
    <div class="modal-dialog" style="width: 300px;">

        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>确定删除?</p>
                <input type="hidden" name="devcode" id="devcode"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="removeitem()">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div id="uploadDialog"></div>
    <div class="row">
       <div class="col-lg-7 col-md-6 col-sm-6">
      @if ((VisitorRole)ViewData["VisitorRole"] == VisitorRole.Admin || (VisitorRole)ViewData["VisitorRole"] == VisitorRole.SubAdmin)
      {
              <a class="btn btn-default" href="/device/create">添加设备</a>
                <text>
                    <script type="text/javascript">
               $('#loginlink').attr('href', '/loginUI/logout');
               $('#loginlink').text('注销');
               $('#loginname').text('@ViewData["username"]');
                    </script>
                </text>
                if ((VisitorRole)ViewData["VisitorRole"] == VisitorRole.Admin)
                {
                <text>
                    <script type="text/javascript">
                        $('#adminAdd').removeClass("hide");
                    </script>
                </text>
                }
         }
            </div>
        <div class="col-lg-5 col-md-6 col-sm-6">
            @{
                var queryCondition = ViewData["requestData"] as DeviceQueryCondition;
                var queryType = (int)queryCondition.queryType;
            }
            <form id="searchform" name="searchform" action="/Device">
                <div class="input-group" style="display:inline">
                    <input type="text" id="searchkey" name="searchkey" class="form-control" placeholder="查找…" maxlength="20" value="@queryCondition.searchkey"/>
                    <input type="text" class="hide form-control" id="searchType" name="searchType" value="@queryType" />
                        <button class="btn btn-primary" style="border-bottom-left-radius:0px;border-top-left-radius:0px;">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                  </div>
            </form>
    </div>
        </div>
    <div class="row" style="margin-top:10px">
        <table id="devlist" class="table table-striped table-hover ">

            <tr>
                <th>设备地址</th>
                <th>设备名称</th>
                <th>设备类型</th>
                <th>设备子类型</th>
                <th>设备状态</th>
                <th>备注信息</th>
              @if ((VisitorRole)ViewData["VisitorRole"] != VisitorRole.Guest)
              {
                    <th>操作</th>
              }
             
            </tr>
            <tbody id="tbDevice">
                @{
                    if (Model == null)
                    {
                        return;
                    }
                    foreach (var item in Model)
                    {
                     
                        <tr>
                            <td>@item.slaveID</td>
                            <td>@item.devName</td>
                            <td>@item.typeName</td>
                            <td>@item.subTypeName</td>
                            @if (item.runStatus == 0)
                            {
                                <td id="@item.slaveID"><span class="label label-danger">&nbsp;&nbsp; 停止 &nbsp;&nbsp; </span></td>
                            }
                            else if (item.runStatus == 1)
                            {
                                <td id="@item.slaveID"><span class="label label-success">&nbsp;&nbsp; 运行中 &nbsp;&nbsp; </span></td>
                            }
                            else
                            {
                                <td id="@item.slaveID"><span class="label label-warning">&nbsp;&nbsp; 通讯异常 &nbsp;&nbsp; </span></td>
                            }
                            <td>@item.note</td>
                          @if ((VisitorRole)ViewData["VisitorRole"] != VisitorRole.Guest)
                          {
                              if (item.type == 1)
                              {
                                <td>@Html.ActionLink("配置", string.Format("Operate/{0}#{1}#{2}",item.slaveID,item.serviceCode,item.port), "Device") <a href="javascript:void(0)" onclick="showAlert('@item.slaveID')">删除</a></td>
                              }
                              else
                              {

                                <td><a href="javascript:void(0)" onclick="showAlert('@item.slaveID')">删除</a></td>
                              }

                          }
                        </tr>
                    }
                }
            </tbody>
        </table>
        @Html.Partial("PageView", ViewData["pagemodel"])
    </div>
</div>


